extends layout

block content

  a(href="/files/read") to full list

  p reading #{name}

  form(action="/files/edit/#{name}", method="post")
    input(type="text" name="data" value="#{data}")
    input(type="submit" value="del") 